# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Environment
venv/
.Python

# IDEs
.DS_Store
.vscode/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so
